<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Home</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Home</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-card>
		<ion-card-header>
			<ion-card-title>Welcome on IzyWere</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p>This is a simple mobile app made by Mimifan (the server's kitty :3) <br><br>
			It have been designed to be used a bit like edgeware (images poping up, random websites and all) even tho it is a bit cheap xd <br><br>
			Sorry I could put more effort on it but I'm a kitty and I'm lazy :3 <i> (and sick atm so I can't do much sowwy >.<)</i></p>
		</ion-card-content>
		<ion-row class="cardfooter">
			<ion-col>
				  <p>For any issues occuring or suggestions, please dm Mimifan on discord.</p>
				  <p>Donating isn't required but it would be appreciated, you can donate <a href="https://throne.com/simping_for_lila" target="_blank">on throne</a> or in DMs.</p>
			</ion-col>
		  </ion-row>
	</ion-card>
</ion-content>
